#home{
	
}
*{
	font-family: sans-serif;
	font-size:100%;
}
.btn {
	text-align:center;
	vertical-align: middle;
	line-height:35px;
	background-color: #ccc;
	color:#fff;
	display: block;
	width: 100px;
	height: 35px;
	border-radius: 5%;

}
.btn:hover{
	background-color: red;
	cursor:pointer;
}